@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@model IEnumerable<Microsoft.AspNetCore.Identity.IdentityUser>
@{
    ViewData["Title"] = "Index";
}

<h1>系统用户管理</h1>
@*<a asp-action="Register">注册</a>*@
<p><a asp-action="Create" asp-route-id="" type="button" class="btn  btn-primary" size="">添加新用户</a></p>
<table class="table ">
    <thead>
        <tr>
            <th>@Html.DisplayNameFor(u => u.Id)</th>
            <th>@Html.DisplayNameFor(u => u.UserName)</th>
            <th>@Html.DisplayNameFor(u => u.Email)</th>
            <th>@Html.DisplayNameFor(u => u.PhoneNumber)</th>
            @*<th>角色</th>*@
            <th>操作</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Id</td>
                <td>@item.UserName</td>
                <td>@item.Email</td>
                <td>@item.PhoneNumber</td>
                @*<td>

                </td>*@
                <td>
                    <a asp-action="EditUser" asp-route-id="@item.Id" type="button" class="btn btn-success btn-xs">修改</a>
                    <a asp-action="Delete" asp-route-id="@item.Id" type="button" class="btn  btn-danger btn-xs" size="">删除</a>
                </td>
            </tr>
        }
    </tbody>
</table>