@model IEnumerable<Intelligent_Retail3.Models.ProductCategory>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>商品类别管理</h2>

<p>
    <a asp-action="Create" class="btn btn-primary">添加新的商品类别</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.CategoryID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CategoryName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CategoryInfo)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.CategoryID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CategoryName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CategoryInfo)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ID" class="btn btn-group">修改</a> |
                <a asp-action="Details" asp-route-id="@item.ID" class="btn btn-info">详情</a> |
                <a asp-action="Delete" asp-route-id="@item.ID" class="btn btn-danger">删除</a>
            </td>
        </tr>
}
    </tbody>
</table>
