@model IEnumerable<Intelligent_Retail3.Models.DeviceManage>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>零售柜设备管理</h2>

<p>
    <a asp-action="Create" class="btn btn-primary">添加新的零售柜</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.DeviceID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DeviceNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DeviceProductKey)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DeviceSecret)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DeviceProvince)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DeviceCity)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DeviceAddress)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DeviceSetDay)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.DeviceID)
            </td>
            <td>
                @*@Html.DisplayFor(modelItem => item.DeviceNumber)*@
                @item.DeviceNumber.Substring(0, 5)
                ...
            </td>
            <td> 
                @item.DeviceProductKey.Substring(0, 5)
                ...
            </td>
            <td>
                @*@Html.DisplayFor(modelItem => item.DeviceSecret)*@
                @item.DeviceSecret.Substring(0, 5)
                ...
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DeviceProvince)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DeviceCity)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DeviceAddress)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DeviceSetDay)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ID" class="btn btn-group">修改</a> |
                <a asp-action="Details" asp-route-id="@item.ID" class="btn btn-info">详情</a> |
                <a asp-action="Delete" asp-route-id="@item.ID" class="btn btn-danger">删除</a>
            </td>
        </tr>
}
    </tbody>
</table>
