@model IEnumerable<Intelligent_Retail3.Models.DeviceProduct>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>零售柜商品管理</h2>

<p>
    <a asp-action="Create" class="btn btn-primary">添加新的商品</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.DeviceID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ProductID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DeviceProductStock)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DeviceProductSale)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.DeviceID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ProductID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DeviceProductStock)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DeviceProductSale)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ID" class="btn btn-group">修改</a> |
                <a asp-action="Details" asp-route-id="@item.ID" class="btn btn-info">详情</a> |
                <a asp-action="Delete" asp-route-id="@item.ID" class="btn btn-danger">删除</a>
            </td>
        </tr>
}
    </tbody>
</table>
