@model Intelligent_Retail3.Models.WXUser

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>WXUser</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.WXUserNickName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.WXUserNickName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.WXUserOpenID)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.WXUserOpenID)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.WXUserPhone)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.WXUserPhone)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.WXUserGender)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.WXUserGender)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.WXUserBirthday)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.WXUserBirthday)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.ID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
