@model IEnumerable<Intelligent_Retail3.Models.WXUser>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>微信用户管理首页</h2>

<p>
    <a asp-action="Create"  class=" btn btn-primary">添加新的微信用户</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.WXUserNickName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.WXUserOpenID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.WXUserPhone)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.WXUserGender)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.WXUserBirthday)
            </th>
            <th>操作</th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.WXUserNickName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.WXUserOpenID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.WXUserPhone)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.WXUserGender)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.WXUserBirthday)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ID"class="btn btn-group">修改</a> |
                <a asp-action="Details" asp-route-id="@item.ID" class="btn btn-info">详情</a> |
                <a asp-action="Delete" asp-route-id="@item.ID" class="btn btn-danger">删除</a>
            </td>
        </tr>
}
    </tbody>
</table>
