@model IEnumerable<Intelligent_Retail3.Models.WXUserOrder>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>用户订单主页</h2>

<p>
    <a>订单编号：</a>
    <input type="text"  class="form-group"/>
    <a asp-action="" class="btn btn-primary btn-xs">查找用户订单</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.WXUserOrderID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.WXUserPhone)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.WXProductID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.WXProductNumber)
            </th>
            <th>操作</th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.WXUserOrderID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.WXUserPhone)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.WXProductID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.WXProductNumber)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ID" class="btn btn-group">修改</a> |
                <a asp-action="Details" asp-route-id="@item.ID" class="btn btn-info">详情</a> |
                <a asp-action="Delete" asp-route-id="@item.ID" class="btn btn-danger">删除</a>
            </td>
        </tr>
}
    </tbody>
</table>
